<template>
  <div
    @click="clickCell"
    :class="{ cell: true, cellX: player === 'X', cellO: player === 'O' , grade: grade }"
  >
    {{ player }}
  </div>
</template>
<script>
export default {
  props: ['player', 'row', 'col', 'grade'],
  methods: {
    clickCell (event) {
      // onsole.log(event)
      // console.log('click' + this.row + ' ' + this.col)
      if (this.player !== '-') return
      this.$emit('cell-click', this.row, this.col)
    }
  }
}
</script>
.cell{ font-sizen: 30pt; } .cellX { color: blue; font-size: 30pt; } .cellO {
color: red; } .grade { background-color" yellow;} }
<style></style>
